{% extends 'base.html' %}

{% block content %}
    
    <div style="font-family:'tahoma';color:black;margin:50px;text-align:justify " class="petunjukpenggunaan">
        <center><h1 style="color: #305866">Langkah Penyelesaian Sistem Pertidaksamaan Linear Dua Variabel (SPtLDV)</h1></center>
    <br>
    <br>

    <p style="color:#305866; background-color: #CDFCF6;">
        <br>
        Berikut langkah penyelesaian pertidaksamaan linear dua variabel menggunakan grafik:(Simangunsong, 2016)
        <br><br>
        1. Tetapkan persamaan garis yang diperoleh dari pertidaksamaan dengan merubah tanda pertidaksamaannya dengan tanda sama dengan, kemudian gambarlah titik-titik koordinat dari persamaan tersebut, lalu buat garis grafiknya pada sistem koordinat kartesius. Garis tersebut akan membatasi dua daerah yaitu satu di sebelah kiri dan satu di sebelah kanan (atau satu di bagian atas dan satu di bagian bawah)
        <br><br>
        2. Tetapkan satu titik sebagai acuan.
        <br>
        Misalnya titik (0,0). Substitusi titik (0,0) tersebut ke dalam pertidaksamaan. Jika titik (0,0) memenuhi pertidaksamaan, maka daerah yang mengandung titik (0,0) merupakan daerah penyelesaian. Arsirlah daerah yang mengandung titik (0,0) sebagai himpunan penyelesaian, seperti pada gambar di bawah ini:
        
        Jika titik (0,0) tidak memenuhi persamaan, maka tidak melewati titik (0,0) tersebut merupakan daerah penyelesaian. Arsirlah daerah yang tidak melewati atau tidak mengandung titik (0,0) sebagai himpunan penyelesaian, seperti gambar di atas.
        <br><br>
        Contoh: 
        <br>
        Gambarlah himpunan penyelesaian pertidaksamaan berikut:
        <br>
        a. 2x + 3y ≤ 6
        <br>
        b. 2x + 3y ≥ 6
        <br>
        c. 2x – 3y ≤ 6
        <br>
        
        <br><br><br>
        Jawab:
        <br>
        a) 2x + 3y ≤ 6
        <br>
        persamaan garisnya adalah: 2x + 3y = 6
        <br>
        memotong sumbu x di (3,0) dan sumbu y di (0,2)
        
        <br><br>
        misal titik (0,0) kita ambil sebagai patokan, kemudian disubstitusi ke pertidaksamaannya, yaitu:
        <br>
        2. 0 + 3. 0 ≤ 6 --> titik (0,0) memenuhi pertidaksamaan
        <br><br>
        Daerah penyelesaian adalah daerah yang mengandung titik (0,0).
        <br>
        Himpunan penyelesaiannya adalah daerah yang diarsir pada Gambar dibawah ini.
        <br><br>
        b) 2x + 3y ≥ 6
        <br>
        persamaan garisnya sama seperti pada a, yaitu 2x + 3y = 6
        <br><br>
        misal titik (0,0) kita ambil sebagai patokan, kemudian disubstitusi ke pertidaksamaannya, yaitu:
        <br>
        2. 0 + 3. 0 ≥ 6 --> titik (0,0) tidak memenuhi pertidaksamaan
        <br>
        Daerah penyelesaiannya adalah daerah yang diarsir pada Gambar di atas.
        <br><br>
        c) 2x – 3y ≤ 6
        <br>
        persamaan garisnya adalah 2x – 3y = 6.
        <br><br>
        misal titik (0,0) kita ambil sebagai patokan, kemudian disubstitusi ke pertidaksamannya, yaitu:
        <br>
        2. 0 – 3. 0 ≤ 6 --> titik (0,0) memenuhi pertidaksamaan
        <br><br>
        Daerah penyelesaiannya adalah daerah yang mengandung titik (0,0). 
        <br>
        Himpunan penyelesaiannya adalah daerah yang diarsir pada Gambar di bawah ini

        
        <br><br>
    </p>
        </div>

        <button style="background-color:none"><img src="/static/images/panah.png" style="width:20px;height:20px"><a href="/submaterisptldv"><b style="font-family:'tahoma';color:#305866">SPtLDV</b></a></button>


{%endblock%}