{% extends 'base.html' %}

{% block content %}
    
    <div style="font-family:'tahoma';color:black;margin:50px;text-align:justify " class="petunjukpenggunaan">
        <center><h1 style="color: #305866">Sistem Pertidaksamaan Linear Dua Variabel (SPLDV)</h1></center>


    <p style="color:#305866">
        <br>
    
        <center><button style="background-color: #72A9BC;color:#FAF7F0; box-sizing: border-box;border-radius: 8px;font-size:20px;width:500px;height:30px"><a href="/pengertiansptldv" style="color:#FAF7F0"><b>Pengertian SPtLDV</b></a></button></center>
        <br>
                    <center><button style="background-color: #72A9BC;color:#FAF7F0; box-sizing: border-box;border-radius: 8px;font-size:20px;width:500px;height:30px"><a href="/sifatsptldv" style="color:#FAF7F0"><b>Sifat-sifat SPtLDV</b></a></button></center>
        <br>
                    <center><button style="background-color: #72A9BC;color:#FAF7F0; box-sizing: border-box;border-radius: 8px;font-size:20px;width:500px;height:30px"><a href="/himpunansptldv" style="color:#FAF7F0"><b>Himpunan Penyelesaian SPtLDV</b></a></button></center>
        <br>
                    <center><button style="background-color: #72A9BC;color:#FAF7F0; box-sizing: border-box;border-radius: 8px;font-size:20px;width:500px;height:30px"><a href="/langkahsptldv" style="color:#FAF7F0"><b>Langkah Penyelesaian SPtLDV</b></a></button></center>
        </div>


{%endblock%}