{% extends 'base.html' %}

{% block content %}
    
    <div style="font-family:'tahoma';color:black;margin:50px;text-align:justify " class="petunjukpenggunaan">
        <center><h1 style="color: #305866">Sejarah Sistem Persamaan Linear Dua Variabel (SPLDV)</h1></center>
    <br>
    <br>

    <p style="color:#305866; background-color: #CDFCF6;">
    <br>
    Sistem persamaan linear telah lama digunakan, yakni sejak 4000 tahun yang lalu (±2000 SM) pada masa Babylonian (Babel). Hal ini terbukti dalam tablet YBC 4652 yang menjelaskan bagaimana Babel menyelesaikan suatu masalah menggunakan persamaan linear.
    <br><br>
    Dalam tablet YBC 4652 dituliskan: (Widhiyantara, 2014) Meskipun babel sudah menggunakan Sistem Persamaan Linier dalam kehidupan sehari-hari, namun istilah “Sistem Persamaan Linear (Linear Equation)” baru muncul sekitar abad ke-17 oleh seorang matematikawan Perancis bernama Rene Descartes. Rene Descartes lahir pada 31 Maret 1596 di sebuah desa di Prancis. Dia menempuh pendidikan di Belanda, ia juga suka belajar matematika di waktu luang. Karya Descartes yang paling dikenal di antaranya adalah geometri Cartesian yang menggunakan aljabar untuk menggambarkan geometri. Kemungkinan Descartes menemukan istilah untuk “Sistem Persamaan Linier (Linear Equation)” yaitu saat dia belajar di Belanda. Selain itu, ada juga Gauss Paper yang pada tahun 1811 memperkenalkan suatu prosedur sistematis yang kemudian dikenal dengan istilah eliminasi Gauss. Eliminasi Gauss merupakan salah satu solusi dalam sistem persamaan linear.
    <br><br>
    Metode di Eropa berasal dari catatan Isaac Newton. Pada tahun 1670, dia menulis bahwa seluruh buku aljabar yang diketahuinya memiliki kekurangan solusi untuk memecahkan persamaan simultan. Carl Friedrich Gauss pada tahun 1810 menyusun notasi untuk eliminasi simetrik yang diadopsi pada abad ke-19 oleh komputer tangan profesional untuk memecahkan persamaan normal masalah kuadrat hingga terkecil. Metode eliminasi Gauss dinilai kurang efisien untuk menyelesaikan sebuah SPL. Namun, pada perkembangannya kini, metode eliminasi Gauss disempurnakan menjadi eliminasi Gauss-Jordan. Motode tersebut dinamai Eliminasi Gauss-Jordan untuk menghormati Carl Friedrich Gauss dan Whilhelm Jordan. Wilhelm Jordan (1842-1899) merupakan seorang insinyur asal Jerman yang ahli dalam bidang geodesi. Buku karya nya tentang sistem persamaan linear berjudul Handbuch de Vermessungskunde (Buku panduan Geodesi) pada tahun 1988. (Nurlianawati, 2020)
    
    <br><br>
    </p>
        </div>

        <button style="background-color:none"><img src="/static/images/panah.png" style="width:20px;height:20px"><a href="/submaterispldv"><b style="font-family:'tahoma';color:#305866">SPLDV</b></a></button>


{%endblock%}