{% extends 'base.html' %}

{% block content %}
    
    <div style="font-family:'tahoma';color:black;margin:50px;text-align:justify " class="petunjukpenggunaan">
        <center><h1 style="color: #305866">Bagian-bagian Sistem Persamaan Linear Dua Variabel (SPLDV)</h1></center>
    <br>
    <br>

    <p style="color:#305866; background-color: #CDFCF6;">
        <br>
        Dalam sistem persamaan linear dua variabel, terdapat bagian-bagian atau istilah-istilah yang ada di dalamnya. Berikut bagian-bagian pada sistem persamaan linear dua variabel, yaitu:
        <br><br>
        <b>1. Variabel</b>
        <br>
        Suatu pemisal / pengganti dari suatu nilai atau bilangan, yang biasa dilambangkan dengan huruf atau simbol disebut dengan variabel.
        <br><br>
        Contoh: Sinta memiliki 5 ekor kuda dan 2 ekor kucing
        <br><br>
        Jika ditulis dengan memisalkan: x = kuda dan y = kucing,
        <br>
        Maka menjadi: 5x + 2y, dimana x dan y adalah variabel.
        <br><br><br>
        <b>2. Koefisien</b>
        <br>
        Ada sebuah bilangan yang menyatakan banyaknya jumlah variabel yang sejenis, disebut dengan koefisien. Jadi, koefisien merupakan bilangan yang biasanya berada di depan variabel dimana bilangan itu menunjukkan jumlah variabel yang sejenis.
        <br><br>
        Contoh: 3x + 4y
        <br><br>
        Maka angka 3 dan 4 merupakan koefisien (3 adalah koefisien x, sedangkan 4 adalah koefisien y).
        <br><br>
        <br>
        <b>3. Konstanta</b>
        <br>
        Suatu nilai atau bilangan yang tidak diikuti oleh variabel, disebut dengan konstanta. Jadi, nilai konstanta tidak bergantung pada nilai variabelnya. Dengan kata lain, berapapun nilai variabel, konstanta akan selalu tetap (konstan).
        <br><br>
        Contoh: 3x + 4y = 20
        <br><br>
        Dari persamaan di atas, diketahui bahwa angka 20 merupakan suatu konstanta. Hal itu dikarenakan berapapun nilai x dan y nya, nilai 20 tidak akan terpengaruh, melainkan akan selalu tetap.
        <br><br>
        <br>
        <b>4. Suku</b>
        <br>
        Pada persamaan, terdapat bagian-bagian dari bentuk aljabar yang terdiri dari variabel, koefisien, ataupun konstanta yang dipisahkan oleh tanda operasi penjumlahan. Bagian-bagian tersebut disebut dengan suku.
        <br><br>
        Contoh: 5x- y + 8, maka suku-sukunya adalah: 5x, -y, dan 8 (berjumlah 3 suku)


    <br><br>
    </p>
        </div>

        <button style="background-color:none"><img src="/static/images/panah.png" style="width:20px;height:20px"><a href="/submaterispldv"><b style="font-family:'tahoma';color:#305866">SPLDV</b></a></button> 


{%endblock%}