{% extends 'base.html' %}

{% block content %}
    
    <div style="font-family:'tahoma';color:black;margin:50px;text-align:justify " class="petunjukpenggunaan">
        <center><h1 style="color: #305866">Sistem Persamaan Linear Dua Variabel</h1></center>
    <br>
    <br>


            <center><button style="background-color: #72A9BC;color:#FAF7F0; box-sizing: border-box;border-radius: 8px;font-size:20px;width:500px;height:30px"><a href="/pengertianspldv" style="color:#FAF7F0"><b>Pengertian SPLDV</b></a></button></center>
<br>
            <center><button style="background-color: #72A9BC;color:#FAF7F0; box-sizing: border-box;border-radius: 8px;font-size:20px;width:500px;height:30px"><a href="/sejarahspldv" style="color:#FAF7F0"><b>Sejarah SPLDV</b></a></button></center>
<br>
            <center><button style="background-color: #72A9BC;color:#FAF7F0; box-sizing: border-box;border-radius: 8px;font-size:20px;width:500px;height:30px"><a href="/bagianspldv" style="color:#FAF7F0"><b>Bagian-bagian SPLDV</b></a></button></center>
<br>
            <center><button style="background-color: #72A9BC;color:#FAF7F0; box-sizing: border-box;border-radius: 8px;font-size:20px;width:500px;height:30px"><a href="/metodespldv" style="color:#FAF7F0"><b>Metode Penyelesaian SPLDV</b></a></button></center>
<br>
            <center><button style="background-color: #72A9BC;color:#FAF7F0; box-sizing: border-box;border-radius: 8px;font-size:20px;width:500px;height:30px"><a href="/hasilspldv" style="color:#FAF7F0" ><b>Hasil Penyelesaian SPLDV</b></a></button></center>
<br>
            <center><button style="background-color: #72A9BC;color:#FAF7F0; box-sizing: border-box;border-radius: 8px;font-size:20px;width:500px;height:30px"><a href="/jenisspldv" style="color:#FAF7F0" ><b>Jenis Penyelesaian SPLDV</b></a></button></center>
          <br>
            <center><button style="background-color: #72A9BC;color:#FAF7F0; box-sizing: border-box;border-radius: 8px;font-size:20px;width:500px;height:30px"><a href="/langkahspldv" style="color:#FAF7F0"><b>Langkah Penyelesaian SPLDV</b></a></button></center>

    </div>

{%endblock%}