{% extends 'base.html' %}

{% block content %}

    <br><br>
    <center><h1 style="color:#305866;text-align:center;font-family:'tahoma'">Profil Dosen Pengampu</h1></center>
   
    
        <table align="center" cellspacing="8" cellspadding="5" style="margin:60px;font-family:'Tahoma';font-size:20px;color:#72A9BC;flex: auto">
            <tr align="center" style="color:#CDFCF6;background-color:#72A9BC;">
                <td><b>Data Diri</b></td>
                <td><b>Keterangan</b></td>
            </tr>
            
            <tr style="text-align:left">
                <td ><b>Nama</b></td>
                <td>Dr. Aan Hendrayana, M. Pd</td>

            </tr>
            <tr style="text-align:left">
                <td ><b>Dosen Pengampu</b></td>
                <td>Teknologi Informasi dan Komunikasi untuk Pembelajaran</td>
            </tr>
            <tr style="text-align:left">
                <td><b>Agama</b></td>
                <td>Islam</td>
            </tr>
            <tr style="text-align:left">
                <td><b>Deskripsi Singkat</b></td>
                <td><p style="text-align:justify">Dr. Aan Hendrayana, M. Pd merupakan salah satu dosen dari Universitas Sultan Ageng Tirtayasa, khususnya pada jurusan Pendidikan Matematika FKIP Untirta. Beliau mengajar mata kuliah Pengembangan Multimedia Matematika. Karya tulis yang telah dibuatnya cukup banyak, dimulai dari tahun 2012 hingga tahun 2017 totalnya mencapai sekitar 50 buah. Beliau merupakan salah satu anggota dari I-MES (Indonesian Mathematics Educators Society). Tak hanya itu, beliau juga pernah menjabat sebagai Wakil Dekan II FKIP Untirta. Beliau juga memiliki banyak video pembelajaran yang diupload di akun youtube nya, terutama pembelajaran yang berkaitan dengan multimedia. Adapun kemampuan yang dimiliki beliau di antaranya kemampuan mengajar, pedagogi dan pendidikan, pembelajaran yang ditingkatkan teknologi, pembelajaran kolaboratif, dan lain-lain.</p></td>
            </tr>
    
        </table>
        <br><br>

{% endblock %}