{% extends 'base.html' %}

{% block content %}
    
    <div style="font-family:'tahoma';color:black;margin:50px;text-align:justify " class="petunjukpenggunaan">
        <center><h1 style="color: #305866">Pengertian Sistem Pertidaksamaan Linear Dua Variabel (SPtLDV)</h1></center>
    <br>
    <br>

    <p style="color:#305866; background-color: #CDFCF6;">
        <br>
        Sistem pertidaksamaan linear dua variabel adalah dua atau lebih pertidaksamaan linear dua variabel, yang dimana antara pertidaksamaan yang satu dengan yang lain saling berkaitan.
        <br><br>

        Bentuk umum dari sistem pertidaksamaan linear dua variabel:
        <br><br>
        ax + by > c; ax + by ≥ c; ax + by < c; ax +by ≤ c dengan a, b, c ∈ R
        
        <br><br>
    </p>
        </div>

        <button style="background-color:none"><img src="/static/images/panah.png" style="width:20px;height:20px"><a href="/submaterisptldv"><b style="font-family:'tahoma';color:#305866">SPtLDV</b></a></button>


{%endblock%}