{% extends 'base.html' %}

{% block content %}
    
    <div style="font-family:'tahoma';color:#305866;margin:50px;text-align:justify " class="isifaperta">
        <center><h1>Tentang Website FunMath!</h1></i></center>
    <br>
    <br>

    <center><p style="color: #72A9BC; font-size: 23px;margin-left: 50px; margin-right: 50px;text-align: justify;">Website ini dibuat untuk memenuhi tugas Ujian Tengah Semester Mata Kuliah Teknologi Informasi dan Komunikasi untuk Pembelajaran.
    </p>
    <br>
    <p style="color: #72A9BC; font-size: 23px;margin-left:50px; margin-right:50px;text-align: justify;">Berisi media pembelajaran matematika mengenai materi “Sistem Persamaan Linear Dua Variabel (SPLDV) dan Sistem Pertidaksamaan Linear Dua Variabel (SPtLDV)”.
    </p>
    <br>
    <p style="color: #72A9BC; font-size: 23px;margin-left:50px; margin-right:50px;text-align: justify;">Jika masih bingung, klik “<a style=" color:#92D050">petunjuk</a>” untuk mengetahui arahan dan Langkah-Langkah dalam menggunakan website ini.
    </p>

    </center>
        </div>

        <button style="box-sizing:border-box;background-color:#305866; font-size: 23px;text-align: justify;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><img src="/static/images/info.png" style="width:20px;height:20px;"><b><a href="/petunjuk1" style="font-size:20px;color:#CDFCF6;margin:auto">Petunjuk</a></b></button>

        <br>
        <br>
{%endblock%}