{% extends 'base.html' %}

{% block content %}

    <center>
        <h1 style="color:#305866;font-family:Verdana, Geneva, Tahoma, sans-serif;">Profil Developer</h1>
    </center>
    <br>

    <table align="center" cellspacing="10" cellspadding="8" style="margin:auto;font-family:'Tahoma';font-size:20px;color:#72A9BC;flex: auto;">
        <tr align="center" style="color:#CDFCF6;background-color:#72A9BC;">
            <td><b>Data Diri</b></td>
            <td><b>Keterangan</b></td>
            <td><b>Foto</b></td>
        </tr>
        
        <tr style="text-align:left">
            <td ><b>Nama</b></td>
            <td>: Anggi Arrochman</td>
            <td rowspan="8" align="center" ><img src="\static\images\potoanggi.JPG" width="150"> </td>
        </tr>
        <tr style="text-align:left">
            <td ><b>Nick Name</b></td>
            <td>: Anggi</td>
            
        </tr>
        <tr style="text-align:left">
            <td ><b>NIM</b></td>
            <td>: 2225210050</td>
        </tr>
        <tr style="text-align:left">
            <td ><b>TTL</b></td>
            <td>: Jakarta, 25 November 2002</td>
        </tr>
        <tr style="text-align:left">
            <td><b>Agama</b></td>
            <td>: Islam</td>
        </tr>
        <tr style="text-align:left">
            <td><b>Jenis Kelamin</b></td>
            <td>: Perempuan</td>
        </tr>
        <tr style="text-align:left">
            <td><b>Domisili</b></td>
            <td>: Kabupaten Tangerang</td>
        </tr>
        <tr style="text-align:left">
            <td><b>Hobi</b></td>
            <td>: Melukis, Menggambar, Menyanyi</td>
        </tr>
        <tr style="text-align:left">
            <td><b>Status</b></td>
            <td>: Mahasiswa</td>
        </tr>
    </table>


{% endblock %}