{% extends 'base.html' %}

{% block content %}
    
    <div style="font-family:'tahoma';color:black;margin:50px;text-align:justify " class="petunjukpenggunaan">
        <center><h1 style="color: #305866">Pengertian Sistem Persamaan Linear Dua Variabel (SPLDV)</h1></center>
    <br>
    <br>

    <p style="color:#305866; background-color: #CDFCF6;">
        <br>
    Sistem persamaan linear dua variabel (SPLDV) adalah sebuah sistem / gabungan / kesatuan dari beberapa Persamaan Linear Dua Variabel yang sejenis (misal variabel x dan y). Jadi, sebelum mempelajari Sistem Persamaan Linear Dua Variabel (SPLDV), kita harus terlebih dahulu mempelajari mengenai hal – hal yang berhubungan dengan Sistem Persamaan Linear Dua Variabel (SPLDV) (Siska,2014).(Muawwana, 2020)  <br><br>
    Dengan kata lain, Sistem Persamaan Linear Dua Variabel (SPLDV) adalah beberapa persamaan linear yang masing-masing persamaannya terdiri dari dua variabel (misal x dan y) yang koefisiennya a dan b serta konstanta misalnya c. (Nurlianawati, 2020). Jadi, sistem persamaan linear dua variabel merupakan kumpulan dari dua atau lebih persamaan-persamaan linear yang terdiri dari dua variabel yang sejenis. Pada persamaan hanya terdapat sebuah persamaan saja, sedangkan pada sistem persamaan terdapat dua atau lebih persamaan yang variabelnya sama dan saling berkaitan satu sama lainnya, dimana dua variabel yang ada menunjukan banyaknya variabel yang akan ditentukan penyelesaiannya.
    <br><br>
    </p>
        </div>

        <button style="background-color:none"><img src="/static/images/panah.png" style="width:20px;height:20px"><a href="/submaterispldv"><b style="font-family:'tahoma';color:#305866">SPLDV</b></a></button>


{%endblock%}