<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Bar</title>

    <!--Fonts Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    
</head>
<body>
   
    <nav class="menu">
        
        <span><img src="\static\images\logo.png" style="width:60px;height:60px"></span><label>FUNMATH</label>
        <ul>
            <li><a href="/welcome/">WELCOME</a></li>
            <li><a href="">Profil</a>
                <ul class="dropdown">
                    <li><a href="/profildeveloper">Developer</a></li>
                    <li><a href="/profildosen">Dosen Pengampu</a></li>
                </ul> 
            </li>

            <li><a href="/tentang/">Tentang</a></li>
            <li><a href="">Yuk Belajar</a>
                <ul class="dropdown">
                    <li><a href="/submaterispldv">Belajar SPLDV</a></li>
                    <li><a href="/submaterisptldv/">Belajar SPtLDV</a></li>
                </ul>    
            </li>
               
            <li><a href="/yukbermain">Yuk Bermain</a>
                  
            </li>

            <li><a href="">Beraksi</a>  
                <ul class="dropdown">
                    <li><a href="/beraksispldv">Beraksi SPLDV</a></li>
                    <li><a href="/beraksisptldv">Beraksi SPtLDV</a></li>
                </ul>  
            </li>
    
        </ul>


    </nav>
</body>
</html>



