{% extends 'base.html' %}

{% block content %}
    
    <div style="font-family:'tahoma';color:black;margin:50px;text-align:justify " class="petunjukpenggunaan">
        <center><h1 style="color: #305866">Beraksi!</h1></center>
    <br>
    <br>

    <h3 id="Applikasi Penerapan SPLDV" style="color:#305866;text-align:center">Applikasi Penerapan Sistem Persamaan Linear Dua Variabel</h3>
    <br>
     <iframe scrolling="no" title="Applet SPLDV" src="https://www.geogebra.org/material/iframe/id/rqgz3dyc/width/1280/height/658/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/false/rc/false/ld/false/sdz/false/ctl/false" width="1000px" height="500px" style="border:0px; margin:auto"> </iframe> 

        </div>

       
{%endblock%}