{% extends 'base.html' %}

{% block content %}
    
    <div style="font-family:'tahoma';color:black;margin:50px;text-align:justify " class="petunjukpenggunaan">
        <center><h1 style="color: #FFCB25">Petunjuk Penggunaan</h1></center>
    <br>
    <br>
        <ul style="color:#C55A11">
            <li><b>WELCOME</b></li>
            <p style="color:black">#Berisi Ucapan Selamat Datang kepada Para Viewers yang telah mendatangi website FunMath</p>
            

            <li><b>Profil</b></li>
            <p style="color:black">#Menu “Tentang” berada di menubar bagian atas, tepatnya di sebelah kanan menu “Profil”. 
            </p>
            <p style="color:black">#Klik “Tentang” untuk mengetahui hal-hal mengenai website ini, dan bagaimana cara penggunaannya. 
            </p>
            <p style="color:black">#Di dalam menu “Tentang” akan ada petunjuk pemakaian website, dengan cara klik “Petunjuk” pada bagian bawah sebelah kanan menu tersebut.
            </p>

            <li><b>Tentang</b></li>
            <p style="color:black">#Menu “Tentang” berada di menubar bagian atas, tepatnya di sebelah kanan menu “Profil”. 
            </p>
            <p style="color:black">#Klik “Tentang” untuk mengetahui hal-hal mengenai website ini, dan bagaimana cara penggunaannya. 
            </p>
            <p style="color:black">#Di dalam menu “Tentang” akan ada petunjuk pemakaian website, dengan cara klik “Petunjuk” pada bagian bawah sebelah kanan menu tersebut.
            </p>

            <li><b>YukBelajar</b></li>
            <p style="color:black">#Menu “Yuk Belajar” akan berisi materi-materi diantaranya SPLDV dan SPtLDV. 
            </p>
            <p style="color: black">#Klik “SPLDV” untuk membaca materi-materi mengenai Sistem Persamaan Linear Dua Variabel.
            </p>
            <p style="color:black">#Klik “SPtLDV” untuk membaca materi-materi mengenai Sistem Pertidaksamaan Linear Dua Variabel. 
            </p>

            <li><b>YukReview</b></li>
            <p style="color:black">#Menu “Yuk Review” berisi kesimpulan-kesimpulan dari materi SPLDV dan SPtLDV yang telah dipaparkan sebelumnya di menu “Yuk Belajar”.
            </p>
            <p style="color:black">#Klik “SPLDV” untuk membaca kesimpulan dari materi Sistem Persamaan Linear Dua Variabel.
            </p>
            <p style="color:black">#Klik “SPtLDV” untuk membaca kesimpulan dari materi Sistem Pertidaksamaan Linear Dua Variabel.
            </p>

            <li><b>YukBermain</b></li>
            <p style="color:black">#Menu “Yuk Bermain” berisi permainan yang berupa soal-soal dari SPLDV dan SPtLDV.
            </p>
            <p style="color:black">#Di dalamnya, terdapat tombol “Play” dan “High Score”.
            </p>
            <p style="color:black">#Klik “Play” untuk memulai permainan. Akan ada soal-soal yang bisa dijawab oleh pembaca. Kemudian, dari jawaban itu pembaca bisa mengetahui benar salahnya dengan tanda warna “hijau” jika jawaban benar, dan tanda warna “merah” jika jawaban salah. Kemudian, pembaca bisa melihat skor dari jawaban soal yang didapatkannya.  Setelah selesai, pembaca bisa memberi nama dan menyimpan skor yang didapatkannya dengan klik “save”.</p>
            <p style="color:black">#Klik “High Score” untuk mengetahui skor tertinggi dari permainan yang telah dilakukan.</p>

            <li><b>Beraksi</b></li>
            <p style="color:black">#Menu “Beraksi” berisi applet berupa geogebra yang dapat diaplikasikan oleh pembaca. Dari applet ini, pembaca dapat mencoba-coba memasukkan variabel, konstanta yang diinginkan, lalu menemukan jawabannya. Di menu ini juga akan disediakan petunjuk, untuk mengaplikasikan geogebra tersebut, agar pembaca dapat lebih memahami. 
            </p>
        </ul>
        <br>
        <br>

        <button style="background-color:none"><img src="/static/images/panah.png" style="width:20px;height:20px"><a href="/tentang"><b style="font-family:'tahoma';color:#305866">Tentang</b></a></button>


    

{%endblock%}